.admin-page {
  background: #f1f5f9;
  min-height: 100vh;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding-top: 30px;
}

/* HEADER */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.header h2 {
  margin: 0;
}

/* GRID */

.quiz-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* CARD */

.quiz-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
}

.quiz-card h3 {
  margin-top: 0;
}

/* BUTTONS */

.btn-primary {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.btn-outline {
  border: 1px solid #2563eb;
  padding: 8px 16px;
  border-radius: 6px;
  background: white;
  color: #2563eb;
  cursor: pointer;
  margin-top: 10px;
}

/* BADGES */

.badge {
  display: inline-block;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  margin: 10px 0;
}

.badge.draft {
  background: #facc15;
}

.badge.scheduled {
  background: #38bdf8;
}

.badge.live {
  background: #4ade80;
}

.badge.closed {
  background: #f87171;
}

.navbar {
  background: #0f172a;
  color: white;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.nav-right button {
  margin-left: 10px;
  padding: 8px 14px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.nav-right button:hover {
  opacity: 0.9;
}

.logout-btn {
  background: #ef4444;
  color: white;
}